.location-create {
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    height: 500px;
}



.location-create form {
    width: 50%;
    display: flex;
    justify-content: center;

}

.location-create form input {
    width: 100%;
    border-radius: 10px;
    border: none;
}

.location-create form textarea {
    resize: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.location-create form input::placeholder,
textarea::placeholder {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
}

.location-create button {
    width: 100px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: aqua;
}