.main-info {
    display: flex;
    flex-direction: column;
}

.main-info h2 {
    text-align: center;
}

.main-info p {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 2;
}

.main-info .detail-button {
    margin: 0 auto;
    border: none;
    width: 100px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 2px 1px 3px black;
    font-weight: 700;
    cursor: pointer;
}

.main-info .detail-button:hover {
    background-color: bisque;
}

.cast-info {
    text-align: center;
}

.cast-info ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.cast-info ul li {
    text-align: center;
    margin: 0 5px;
}

.cast-info ul li img {
    border-radius: 10px;
}